.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background);
  margin-top: 24px;
  padding-block: 19.5px;
  padding-inline: 48.5px;
  border-radius: 0px 0px 10px 10px;
}

.footer .social__icon {
  color: var(--icons-color);
  font-size: var(--font-32-xl);
  text-align: center;
}

.footer .social__icon:not(:last-of-type) {
  margin-right: 24px;
}
